
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatchaDoing?</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <header>
        {%include 'navbar.html'%}
    </header>
    <div class="container">
    
        <div class="card">
            
                <div class="cardT">
                    <h2>Welcome: {{session['username']}}</h2>
                    <h3 id="Today">Todays date is: </h3>
                </div>
                <hr>
                <div class="taskform">
                    <form action="{{ url_for('grab_task') }}" method="post">
                        <label for="task">Task: </label>
                        <input type="text" name="task" id="task" required>
        
                        <label for="dueDate">Due Date: </label>
                        <input type="date" name="dueDate" id="dueDate" required>
        
                    
        
                        <button type="submit">Submit</button>
                    </form>
                 </div>
            <hr>
        
            <div id="tasker">
            
                <ul>
                    {%for todo in todos%} 
                        {%if session['email'] == todo['email']%}
                            <div id="group">
                                
                                    
                                    <li><span id="tasks">{{todo["Task"]}}</span>  <br> <span id="dueDate">{{todo["dueDate"]}}</span></li>
                                    <form action="{{url_for('delete', id = todo['_id'])}}" method="post">
                                        <button type="submit">X</button>
                                    </form>
                                
                            </div>
                                    {% if not loop.last  %}
                                        <hr>
                                    {%endif%}
                        {%elif session["email"]==""%}
                            <div id="group"><p>You need to be logged in</p></div>
                        {%endif%}
                        
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>