<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <header>{%include 'navbar.html'%}</header>
    <main>
        <div id="paper">
            <h1>WhatchaDoing?</h1>
            <input type="checkbox" name="1" id="01">
            <label for="01"><a href="/dashboard">Start Now</a></label>
        </div>
    </main>
   
</body>
</html>