<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatchaDoing?</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <div class="container">
        <h1 class="title">WhatchaDoing?</h1>
    </div>
    <div>
        <form action="{{ url_for('grab_task') }}" method="post">
            <label for="task">Task: </label>
            <input type="text" name="task" id="task" required>

            <label for="dueDate">Due Date: </label>
            <input type="date" name="dueDate" id="dueDate" required>

           

            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="card">
        <div class="cardT">
            <h3 id="Today"></h3>
        </div>
        <hr>
        <div class="task">
        
            
                {%for todo in todos%}
                <h4 class="tasks">`{{todo["Task"]}}`</h4> 
                <h5 class="Due"> Due: {{todo["dueDate"]}}</h5>
                   
                     <hr>
                    
                {% endfor %}
            

        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>