<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/navstyle.css">
</head>
<body>
    <div id="navbars">
    <a id="navuser" href="/home">WhatchaDoing?</a>
    {% if session %} 
    <ul>
        <li><a id="navuser" href="{{url_for('log_out')}}">logout</a></li>
    </ul>

    {%else%}
    <ul>
      <li><a id="navuser"  href="/login">login</a>  </li> 
       <li> <a id="navuser" href="/register">register</a> </li>
    </ul>
    {%endif%}
</div>
</body>
</html>