
body{
    background-color: lightgrey;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

#navbars a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
}
#navbars li{
    display: inline-block;
    margin-right: 50px;
}
#navbars{
   
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: rgb(84, 0, 0);
    opacity: 70%;
    /* background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83)); */
    
}