.title{
    color: purple;
}

/* .container{
    height: 100%;
    width: 100%; 
} */

h3{
    text-align: center;
}
/* form{
    position: absolute;
} */

.card{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-height: 400px;
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 10%;
    position: absolute;
}

li{
    list-style-type: none;
    display: inline-block;
}

